body {
    margin: 0;
    padding: 0;
    margin-top: 0;
    font-family: 'Helvetica', sans-serif;
    /*    font: 'helvetica';*/
    background-image: url('../img/bg_programma.jpg');
}

#homepagina {
    background-image: url('../img/background.jpg');
}

#homeheader {
    background-image: url('../img/studiorabbit.jpg');
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*    Bron: Didier Catz*/
    flex-wrap: wrap;
}

/* Bron: flex-boxfroggy.com*/

.navigation {

    /*    position: absolute;*/
    margin-top: 2rem;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

nav img {
    /*    position: absolute;*/
    margin: 1rem;
    max-width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

li a {
    text-decoration: none;
    color: white;
    margin: .5rem;
}

li a:hover {
    text-decoration: underline;
}

.studiorabbit {
    width: 100vw;
}

article.b-artiest {
    height: 15rem;
    width: 15rem;
    position: relative;
    color: white;

}

article.a-artiest {
    height: 20rem;
    width: 20rem;
    position: relative;
    color: white;

}

article img {
    display: flex;
    width: 100%;
    position: relative;
    object-fit: cover;
    height: 100%;

}

article ul {
    position: absolute;
    bottom: 0;
}

.tag {
    position: absolute;
    top: 0rem;
    right: 1rem;
}


article button {
    position: absolute;
    top: 0;
    height: 3rem;
    width: 3rem;
    margin: .5rem;
    background-color: transparent;
    border-radius: .5rem;
    border: none;

}

button img {
    width: 100%;

}

section {
    list-style: none;
    display: flex;
    color: white;
}

section ul {
    position: absolute;
    margin: 0;
    padding-left: 1rem;
    list-style: none;
}

.filters {
    height: 5rem;
    background: #272d31;
}

.filters ul {
    list-style: none;
}

.line-up {
    padding: 1rem;
    display: grid;
    margin: auto;
    width: 20rem;
    grid-template-columns: 20rem;
    /*    grid-template-rows: 1fr;*/
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

}

.line-up-b {
    padding: 1rem;
    display: grid;
    margin: auto;
    width: 15rem;
    grid-template-columns: 15rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

}




footer {
    display: flex;
    background-color: #212121;
    justify-content: center;
    height: 40vh;


}

footer li a {
    color: white;
}

footer ul {
    list-style: none;

}

/* bron:"https://css-tricks.com/snippets/css/complete-guide-grid" */

@media (max-width: 43rem) {
    footer ul {
        display: grid;
        grid-template-columns: 10rem;
        margin: auto;
        width: 7rem;

    }

}

@media (min-width: 43rem) {
    .line-up {
        padding: 1rem;
        display: grid;
        margin: auto;
        width: 41rem;
        grid-template-columns: 20rem 20rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    .line-up-b {
        padding: 1rem;
        display: grid;
        margin: auto;
        width: 47rem;
        grid-template-columns: 15rem 15rem 15rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

    }
}

@media (min-width: 63rem) {
    .line-up {
        padding: 1rem;
        display: grid;
        margin: auto;
        width: 62rem;
        grid-template-columns: 20rem 20rem 20rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

}

@media (min-width: 84rem) {
    .line-up {
        padding: 1rem;
        display: grid;
        margin: auto;
        width: 83rem;
        grid-template-columns: 20rem 20rem 20rem 20rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

}
